@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --white: #fff;
  --black: #000;
  --grey: #30333b;
  --dark-grey: #191b1f;
  --light-grey: #eee;
  --silver-grey: #c4c4c4;
  --bg-grey: #1f2126;

  /* Layout */
  --gap: 24px;
  --maxWidth: 1200px;

  /* Font */
  --font-family: 'Roboto', sans-serif;
  --font-size-1: 1rem;
  --font-size-2: 1.25rem;
  --font-size-3: 2.25rem;
}

body {
  margin: 0;
  background-color: var(--grey);
  color: var(--white);
  font-family: var(--font-family);
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.layout {
  margin: 0 auto;
  max-width: var(--maxWidth);
  background-color: var(--dark-grey);
}

/* Utility classes */

.u-visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}
